# Git & VCS
.git
.gitignore

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
.venv/
venv/

# Build artifacts
build/
dist/

# Local env & secrets
.env
.env.*
*.pem
*.key
*.secret*

# Editors/OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# Node
node_modules/

# Tests & docs (optional)
tests/
docs/